@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom selection color for that 'newspaper' feel */
::selection {
  background-color: #fee2e2; /* red-100 */
  color: #7f1d1d; /* red-900 */
}

.dark ::selection {
  background-color: #450a0a; /* red-950 */
  color: #fecaca; /* red-200 */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-marquee: marquee 60s linear infinite;
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}